#!/usr/sbin/nft -f

flush ruleset

table inet filter {
    chain input {
        type filter hook input priority filter; policy accept;

        # Allow metadata server (port 8111) only from VM subnet
        tcp dport 8111 ip saddr 10.0.0.0/8 accept
        tcp dport 8111 drop
    }
    chain output {
        type filter hook output priority filter; policy accept;
    }
}

table ip nat {
    chain postrouting {
        type nat hook postrouting priority 100; policy accept;
        oifname "{{ primary_nic }}" masquerade
    }
}
