LOAD_BALANCER_IP={{ public_ip }}
DATABASE_URL=postgresql://zeitwork:{{ db_password }}@{{ db_host }}:6432/zeitwork?sslmode=disable
DATABASE_DIRECT_URL=postgresql://zeitwork:{{ db_password }}@{{ db_host }}:5432/zeitwork?sslmode=disable
INTERNAL_IP={{ internal_ip }}
S3_ENDPOINT={{ minio_endpoint }}
S3_BUCKET=zeitwork-images
S3_ACCESS_KEY={{ minio_access_key }}
S3_SECRET_KEY={{ minio_secret_key }}
S3_USE_SSL=false
DOCKER_REGISTRY_URL={{ docker_registry_url }}
DOCKER_REGISTRY_USERNAME={{ docker_registry_username }}
DOCKER_REGISTRY_PAT={{ docker_registry_pat }}
GITHUB_APP_ID={{ github_app_id }}
GITHUB_APP_PRIVATE_KEY={{ github_app_private_key }}
ENCRYPTION_KEY={{ encryption_key }}
METADATA_SERVER_ADDR=0.0.0.0:8111
