name: "zeitwork"

services:
  db:
    image: postgres:18-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    command:
      - postgres
      - -c
      - wal_level=logical
  s3:
    image: minio/minio:latest
    ports:
      - "9000:9000"
    environment:
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin
    command: server /data
  # nats:
  #   image: nats:2-alpine
  #   ports:
  #     - "4222:4222"
  #     - "6222:6222"
  #     - "8222:8222"
