@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --font-display: "Satoshi", sans-serif;
}

html,
body,
#__nuxt {
  min-height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-zinc-100);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-zinc-200);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-zinc-300);
}
