- name: Build initramfs
  file:
    path: /tmp/initramfs
    state: directory

- name: Build the main go app locally
  delegate_to: localhost
  command:
    cmd: go build -o /tmp/initagent ./cmd/initagent/
    chdir: "../"
  environment:
    CGO_ENABLED: "0"
    GOOS: linux
    GOARCH: amd64

- name: Build initexec locally
  delegate_to: localhost
  command:
    cmd: go build -o /tmp/initexec ./cmd/initexec/
    chdir: "../"
  environment:
    CGO_ENABLED: "0"
    GOOS: linux
    GOARCH: amd64

- name: Create some important directories
  file:
    path: /tmp/initramfs/{{item}}
    state: directory
    mode: 0644
  with_items:
    - mnt
    - proc
    - sys
    - dev
    - usr/bin

- name: Copy initagent
  copy:
    src: /tmp/initagent
    dest: /tmp/initramfs/init
    mode: 0755

- name: Copy initexec
  copy:
    src: /tmp/initexec
    dest: /tmp/initramfs/usr/bin/initexec
    mode: 0755

- name: Check if static busybox exists
  stat:
    path: /data/busybox
  register: busybox

- name: Download static busybox
  when: not busybox.stat.exists
  get_url:
    url: https://busybox.net/downloads/binaries/1.35.0-x86_64-linux-musl/busybox
    dest: /data/busybox
    mode: 0755
    timeout: 60

- name: Copy busybox into initramfs
  copy:
    src: /data/busybox
    dest: /tmp/initramfs/usr/bin/busybox
    mode: 0755
    remote_src: true

- name: Build the initramfs
  shell:
    cmd: find . | cpio -o -H newc | gzip > /data/initramfs.cpio.gz
    chdir: /tmp/initramfs
  args:
    executable: /bin/bash

#- name: Cleanup initramfs
#  file:
#    path: /tmp/initramfs
#    state: absent