[Unit]
Description=Zeitwork Node Agent
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
EnvironmentFile=-/etc/zeitwork/nodeagent.env
ExecStart=/usr/local/bin/zeitwork-nodeagent
WorkingDirectory=/var/lib/zeitwork
Restart=on-failure
RestartSec=2s
User=root
Group=root
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
