[Unit]
Description=Zeitwork Edge Proxy
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
EnvironmentFile=-/etc/zeitwork/edgeproxy.env
ExecStart=/usr/local/bin/zeitwork-edgeproxy
WorkingDirectory=/var/lib/zeitwork
Restart=always
RestartSec=2s
User=root
Group=root
LimitNOFILE=131072
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
